<tr class="line_item"<%= 'id=current_item' if line_item == @current_item %>>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td class="decr_quantity"><%= button_to '-', decrement_line_item_url(line_item), method: :put, remote: true %></td>
</tr>
