$('#notice').hide();

$('#cart').html("<%= escape_javascript render(@cart) %>");

if ($('#cart tr.line_item').length > 0) { $('#cart').show('blind', 1000); }

$('#current_item').css({'background-color':'#88ff88'}).animate({'background-color':'#114411'}, 1000);
